CLIENT_ID=888748922085-0ut7oks5ep9anqt23il649f1jqvg8ffc.apps.googleusercontent.com
CLIENT_SECRET=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
REFRESH_TOKEN=1//04XI4trt6nAO0CgYIARAAGAQSNwF-L9Iri6Gy8xo5MtIRwzI3cRXGy-M9hQ3ex068_7BMF7xYTWIJdh1z1ZLKAW1r5T_jR33ZrPA
EMAIL=caonhatduc9@gmail.com
# google authentication
GOOGLE_CLIENT_ID=1057565983767-t5csdds4kta1rdrman42fpbugibng1en.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN
GOOGLE_REDIRECT_URL=http://127.0.0.1:3000/v1/auth/google/redirect



# apple auth
APPLE_CLIENTID=com.lotus.woman
APPLE_TEAMID=62T4L8KE75
APPLE_KEYID=FNB33GLMG7
APPLE_CALLBACK=https://atseeds.com/v1/auth/apple/callback
APPLE_KEYFILE_PATH =./AuthKey_FNB33GLMG7.p8